
@import url(fonts.css);

html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root{
    /* Theme font family */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'lexend', cursive;
    --Livvic: 'Livvic', cursive;

    /* Theme colors */
    --text-gray: #ffffff;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --web-blue: #1d108d;

    /* gradient color */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

/*************** global classes ****************/

.body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/image.jpeg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem, 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

button.btn-primary {
    width: 25vw;
    background: white;
    color: black;
    border-radius: 0%;
    margin-left: 30vw;
    margin-top: 2rem;
}

button.btn-primary:hover {
    background: black;
    color: white;
    transition: 0.5s ease-in-out;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

.text-gray {
    color: var(--text-gray);
}

.text-white {
    color: var(--white);
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
    text-align: justify;
}

/*******x******* global classes *******x********/

/*************** navbar ***************/
.nav{
    background: var(--web-blue);
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    color: var(--text-gray);
    font-size: 1.4rem;
}

.collapse{
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin-right: 5rem;
}

.nav .nav-items .nav-link {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.1rem;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link:last-child span {
    margin: 0.5rem;
}

.nav .nav-items .nav-link:hover > .sub-nav {
    background: var(--midnight);
    display: block;
    padding: 1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-user {
    display: flex;
    margin-right: 5rem;
}

.nav .nav-user .nav-link {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.1rem;
    font-family: var(--Abel);
}

.nav .nav-user .nav-link:last-child span {
    margin: 0.5rem;
}

.nav .nav-user .nav-link:hover > .sub-nav {
    background: var(--midnight);
    display: block;
    padding: 1rem;
}

.nav .nav-user .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-user .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand {
    margin-left: 5rem;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1.6rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

/*************** navbar ***************/

/**************Main Content************/
main .site-title {
    background: var(--white);
    background-size: cover;
    height: 90vh;
    display: flex;
}

main .site-title .site-background {
    padding-top: 10rem;
    text-align: center;
}

main .site-title h1, h3 {
    margin: .3rem;
}

main .site-title .btn {
    margin: 1.8rem;
    padding: 0.8rem 1.5rem;
    background: var(--sky);
}

main .site-title .btn:hover {
    background: transparent;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
}

/************ Blog Carousel ****************/

main .blog {
    background: url(../assets/Abract01.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main #contact {
    background: var(--white);
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

main #contact p {
    text-align: justify;
}

main #about {
    background: var(--white);
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

main #about .site-background {
    padding-top: 2rem !important;
}

main .blog .blog-post {
    padding-top: 6rem;
}

main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
    padding: 2rem 0;
}

main .blog-content .btn-blog {
    padding: .7rem 2rem;
    background: var(--sky);
    margin: 0.5rem;
}

main .blog-content span {
    display: block;
}

section .container .owl-nav {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

section .container .owl-nav .owl-prev .owl-nav-prev, section .container .owl-nav .owl-next .owl-nav-next {
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

section .container .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-'] {
    outline: none;
}

/****xxx****** Blog Carousel ********xxx********/

/********** Site Content ****************/

main .site-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

main .site-content .col-1, .col-2 {
    margin-top: 10vh;
}

main .site-content .col-1 h2 {
    font-size: 4rem;
    color: var(--white);
}

main .site-content .text-center {
    align-content: center;
}

main .site-content .fa-truck {
    font-size: 20rem;
    color: var(--white);
}

main .site-content h1 {
     border-bottom: #0f0f0f;
     border-bottom-width: 1px;
}

main .post-content {
    width: 100%;
}

main .site-content .post-content > .post-image, .post-title {
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content .post-info {
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}


main .site-content .post-content> .post-image > div {
    overflow: hidden;
}

main .site-content .post-content > .post-image .img {
    width: 100%;
    transition: 1s ease;
}

main .site-content .post-content > .post-image .img:hover {
    transform: scale(1.3);
}

main .site-content .post-content> .post-image .post-info span {
    margin-left: 0.5rem;
}

main .post-content .post-title a {
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
    border-radius: 0%;
    padding: 0.7rem;
    background: var(--sky);
}

.site-content .pagination {
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages {
    background: var(--text-gray);
    color: var(--white);
}

/****xxx****** Site Content ********xxx********/

/************** Side Bar ****************/

.site-content> .sidebar .category-list .list-items {
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content> .sidebar .category-list .list-items a {
    color: black;
}

.site-content .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1rem;
}

.site-content .sidebar .newsletter {
    padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element {
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
    width: 80%;
    height: 1.9rem;
    padding: .3rem, 5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn {
    border-radius: 0;
    padding: 0.8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}

.site-content .sidebar .popular-tags {
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem;
}

/*******x*********Side Bar*******x*********/

/******************Blog Posts********************/

main #pork-ribs {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/pork1.jpeg");
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
}

main #shakshuka {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/shakshuka1.jpeg");
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
}

main #pancakes {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/pancakes1.jpeg");
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
}

main #scrambled {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/spinach1.jpeg");
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
}

main .blog-page-title .blog-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .blog-page-title h1, h3 {
    margin: .3rem;
}

main .blog-page-title .btn {
    margin: 1.8rem;
    padding: 0.8rem 1.5rem;
    background: var(--sky);
}

main .blog-page-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

main .blog-page-content .posts p {
    margin: 3rem;
}

main .blog-page-content {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}
main .post-content {
    width: 100%;
}

main .site-content .post-content > .post-image, .post-title {
    padding: 1rem 2rem;
    position: relative;
}

main .blog-page-content .post-content> .post-image > div {
    overflow: hidden;
}

main .blog-page-content .post-content > .post-image .img {
    width: 100%;
    transition: 1s ease;
}

main .blog-page-content .post-content > .post-image .img:hover {
    transform: scale(1.3);
}

main .blog-page-content .post-content> .post-image .post-info span {
    margin-left: 0.5rem;
}

main .post-content .post-title a {
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.blog-page-content .post-content .post-title .post-btn {
    border-radius: 0%;
    padding: 0.7rem;
    background: var(--sky);
}

.blog-page-content .pagination {
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.blog-page-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.blog-page-content .pagination .pages {
    background: var(--text-gray);
    color: var(--white);
}

.blog-page-content .post-content .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.blog-page-content .post-content .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/********x********Blog Posts **************/

/********xxx******Main Content******xxx******/

/****************** Footer ******************/

.footer {
    background: var(--bg-color);
    text-align: center;
    color: var(--white);
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.socials {
    color: var(--white);
    padding: 1rem .5rem;
    font-size: 1.25rem;
}

.socials:first-child {
    margin-left: 1rem;
}

/****************** Footer ******************/

main .main {
    padding: 1rem 0;
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

main .main a {
    color: #1d108d;
}

main .main .form {
    color: #0f0f0f;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

main .main .form input {
    margin: 1rem;
    width: 100%;
    height: 2rem;
}

main .main .form #login {
    background: black;
    color: var(--white);
}

main .main-grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

main .main-grid-2 .grid-col-1 {
    display: flex;
}

main .main-grid-2 .grid-col-1 #map {
    margin-top: 10vh;
    height: 70vh;
    width: 100vh;
}

main .main-grid-2 .grid-col-2 .form {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
}

main .main-grid-2 .grid-col-2 .form input {
    margin: 1rem 3rem;
    height: 2rem;
    width: 100%;
}

main .main-grid-2 .grid-col-2 .form p {
    width: 100%;
    margin: 1rem 3rem;
}

main .main-grid-2 .grid-col-2 .blue-background h2 {
    width: 100%;
    margin: 1rem 3rem;
    text-align: center;
    color: white;
}

main .main-grid-2 .grid-col-2 .form p a {
    color: #1d108d;
}

main .main-grid-2 .grid-col-2 .form .divide-input {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

main .main-grid-2 .grid-col-2 .form .divide-input input {
    width: 40%;
    margin-right: 0%;
}

main .main-grid-2 .grid-col-2 .blue-background {
    background: var(--web-blue);
    height: 50vh;
    width: 90%;
    margin-left: 5%;
}

main .main-grid-2 .grid-col-2 .select-collector {
    border: 1px solid;
}

main .main-grid-2 .grid-col-2 .select-collector h2 {
    width: 100%;
    text-align: center;
    color: var(--web-blue);
}

main .main-grid-2 .grid-col-2 i {
    color: black;
    font-size: 3rem;
    margin-left: 1rem;
}

.list-container {
    width: 90%;
    margin: auto;
}
.list-container ul {
    background: white;
    height: 30vh;
    width: 100%;
    padding-left: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.list-container li {
    color: black;
    padding: 1rem;
}

.payment-method{
    background: white;
    width: 90%;
    margin: auto;
    padding: .5rem;
}

.payment-method select {
    margin-right: 0%;
}

 .grid-3 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    border: 1px solid;
}

.grid-3:hover {
    background: var(--midnight);
    transition: ease-in-out 0.5s;
}

main .main-grid-2 .grid-col-2 .form .list-container .grid-3 .grid-3-col-1 i {
    font-size: 5rem;
    padding: 2rem 0;
    color: #0f0f0f;
}

main .main-grid-2 .grid-col-2 .form .list-container .grid-3 .grid-3-col-2 h3 {
    color: black;
}

main .main-grid-2 .grid-col-2 .form .list-container .grid-3 .grid-3-col-2  {
   padding: 1rem 0;
}

main .main-grid-2 .grid-col-2 .form .list-container .grid-3 .grid-3-col-2 p {
    margin: 0%;
}

main .main-grid-2 .grid-col-2 .form .list-container .grid-3 .grid-3-col-3 h3 {
    padding: 3rem 0;
    color: black;
}

#toggle-orders-collapse {
    display: none;
}

#toggle-wait-collapse {
    display: none;
}

/*    Viewport less than or equal to 1570px     */

@media only screen and (max-width: 1570px) {
    main .main-grid-2 .grid-col-2 .form .divide-input input {
        width: 100%;
        margin-right: 3rem;
    }
}

/*    Viewport less than or equal to 750px     */

@media only screen and (max-width: 750px) {
    main .main-grid-2 {
        display: grid;
        grid-template-columns: 100%;
    }

    main .main-grid-2 .image-view {
        padding-top: 5vh;
    }

    main .main-grid-2 .grid-col-2 .form {
        padding-top: 5vh;
    }

    main .main-grid-2 .grid-col-2 .form h2 {
        text-align: center;
    }
}

/*    Viewport less than or equal to 1130px     */

@media only screen and (max-width: 1130px) {
    .site-content .post-content > .post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* x  Viewport less than or equal to 1130px  x  */

/*   Viewport less than or equal to 750px    */

@media only screen and (max-width: 750px){
    .nav .nav-menu .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .blog-page-content {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* x  Viewport less than or equal to 750px x */

/*    Viewport less than or equal to 520px   */

@media only screen and (max-width: 520px) {
    main .blog {
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info {
        display: none;
    }
}

/* x  Viewport less than or equal to 520px x */